<%= stylesheet_link_tag 'hello', :media => "all" %>


<div class="main-image">
    <%= image_tag "login-image1.jpg" %>
    <h4>ABOUT</h4>
    <div class="text-box1">
        <p>Idea Townは、</p>
        <p>"ユーザーイノベーション"のたまごとなるような</p>
        <p>アイデアが集まるサイトです。</p>
    </div>
</div>




<div class="sub-image">
    <%= image_tag "login-image2.jpg" %>
    <h1>ユーザーイノベーションとは？</h1>
    <div class="text-box2">
        <p>ユーザーイノベーションとは、簡単に言うと「消費者が既存の商品から新しい価値を生み出す」ことです。</p>
        <br>
        <p>例えばマスキングテープは、元々は建築塗装などで塗装しない部分をガードするために使われていました。しかし、あるカフェで店内の装飾やラッピングに利用し始めたことから、文具や雑貨の装飾用に販売されるようになりました。他にも、食品用ラップやジーンズなどもユーザーイノベーションの例です。</p>
        <br>
        <p>このサイトでは、様々な人と交流しながらユーザーイノベーションにつながるようなアイデアを共有することができます。</p>
    </div>

</div>


<h2 class="text">あなたも自分流のアイデアをみんなと共有してみませんか？</h2>


<div class="link-list">
    <a rel="nofollow" data-method="get" href="/users/sign_in" id="list-6">新規登録</a>
    <a rel="nofollow" data-method="post" href="/users/sign_in" id="list-4">ログイン</a>
</div>
<br>
<br>
<br>
<br>
