/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
    padding: 0;
    margin: 0;
    }

body {
    font-family: "メイリオ","Meiryo", "游ゴシック","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
    }
.image-logo{
    margin-top: -40px;
}
.page-header {
    background-color: #fff;
    height: 85px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top:50px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #989898;
    }

.page-header a {
    font-family: '筑紫A丸ゴシック', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none; 
    }

.header-list {
    display: flex;
    align-items: flex-start;
    
    }

.header-list ul {
    display: flex;
    justify-content: flex-end;
    }

.header-list li {
    list-style: none;
    margin-right: 40px;
    align-items: flex-start;
    }

.header-list a{
    color: #696969;
}
.header-list a:hover{
    color:#5e99b9;
}
.header-list li:hover{
    color:#5e99b9;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -4px;
    margin-right: -7px;
    color: #696969;
}


#list-1:before{
    font-family: 'Material Icons';
    content: '\e88a';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}
#list-2:before{
    font-family: 'Material Icons';
    content: '\e145';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}
#list-3:before{
    font-family: 'Material Icons';
    content: '\e9ba';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}
#list-4:before{
    font-family: 'Material Icons';
    content: '\ea77';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}
#list-5:before{
    font-family: 'Material Icons';
    content: '\e853';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}
#list-6:before{
    font-family: 'Material Icons';
    content: '\e7fe';
    vertical-align: -3px;
    margin-right:2px;
    font-size:18px;
}




footer {
    color: white;
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    }