p{
    font-family: "ヒラギノ角ゴシック W3", sans-serif;
    font-size:15px;
    color: #484848;
}
.field-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}